.animated-goo {
  background: rgb(17, 17, 17);
  width: 80%;
  height: 70vh;
  overflow: hidden;
  position: absolute;
  top: 25;
  left: 25;
  filter: contrast(50);

  .box {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    filter: blur(12px);
    transition: 2s;
  }
}
